
.post {
    height: 500px;
    width: 100%;
    padding-top: 50px;
    background-color: whitesmoke;
    color: rgb(37, 37, 37);
    letter-spacing: .05rem;
    margin: auto;
}

.psot
.post .abstract{
    width: 500px;
    margin: auto;
    font-size: normal;
}

.post .title{
    margin: 0 0 20px;
    width: 500px;
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.post .content{
    width: 500px;
    font-size: normal;
    margin: auto;
}